body
{
    font-family: 'Lobster', cursive;
    background: pink;
}

.header_div
{
    background: rgb(252, 99, 99);
    color: blueviolet;
}

.main_div button
{    
    font-family: 'Roboto', sans-serif;    
    margin-top: 30px;    
    width: 130px;    
    font-weight: bolder;    
    letter-spacing: 3px;  
}

.copy_right_footer
{
    position: fixed;
    color: gray; 
    bottom: 0;
    font-size: 19px;
    background: rgb(255, 183, 50);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149 , 149);
    width: 100%;
}